<a href="https://colab.research.google.com/github/explodeTheComputer/ptongmoon/blob/main/%EC%A0%95%EC%9D%BC%ED%98%81%EC%BB%B4%EA%B3%B51223.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 리뷰

## 파이썬 변수
* 변수란? - 값을 저장하는 공간
* 변수명 작성 규칙
    - 알파벳(한글),숫자,_(언더바)만 사용가능
    - 중간에 공백이 올 수 없다.
    - 숫자가 맨 앞에 올 수 없다.
    - 특수 기호 사용 불가!!
    단, _(underbar)만 가능
    - 예약어 사용 불가!
    - 옳은 사용 예: myCar, my_car, _mycar, mycar_, king3
    - 옳지 않은 사용 예:
    my car, 3king, print, input, range, def, my@car,

## 파이썬 자료형
* 기본 자료형
    - 정수형(int), 실수형(float), 불형(bool)
* 컬렉션 자료형
    - 문자열 str: string
    - 리스트 list
    - 튜플 tuple
    - 딕셔너리 dict
    - 세트 set

In [4]:
ca_pay = 30000
na_pay = 20000
bank = ca_pay + na_pay
print(bank)

50000

In [3]:
ca_pay = 30000-15000
na_pay = 20000
bank = ca_pay + na_pay
print(bank)

35000

In [5]:
ame_value = 2000
ame_cnt = 10
latte_value, latte_cnt  = 3000, 20
total = ame_value*ame_cnt + latte_value*latte_cnt
print(total)

80000